.icon_principal{
    width: 240px;
    height: 140px;
    margin: 0;
}


.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
}
.navbar-nav a:hover{
	background: rgb(71, 71, 202);
}



.navbar-toggler {
	padding: 6px ;
	font-size: 18px;
	line-height: 0.7;
	background: rgba(3, 68, 41, 0.445);

    
}


.carousel-item {
	height: 100vh;
	min-height: 380px;
}
.carousel-caption {
	margin-bottom: 80px;
	margin-top: 100px;
	background-color: rgba(1, 1, 15, 0.603);
	
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.815);
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}

