.icon_principal{
    width: 230px;
    height: 130px;
    margin: 0;
}


.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 900;
}
.navbar-nav a:hover{
	background: rgb(71, 71, 202);
}



.navbar-toggler {
	padding: 6px ;
	font-size: 18px;
	line-height: 0.7;
	background: rgba(3, 68, 41, 0.445);

    
}


.carousel-item {
	height: 100vh;
	min-height: 380px;
}
.carousel-caption {
	margin-bottom: 80px;
	margin-top: 100px;
	background-color: rgba(1, 1, 15, 0.603);
	
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
		background: rgba(0, 0, 0, 0.815);
	}
	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}

.icon_card_1{
	border:  rgb(13, 245, 167)	solid 2px ;
	width:70px ;
	border-radius: 50% 	;

}

.span_1{
	color: rgba(3, 3, 3, 0.986);
	font-weight: 900;
	font-size: 20px;
}
.span_2{
	color: rgba(21, 96, 146, 0.973);
	font-weight: 900;
	font-size: 20px;
}



.card-one{
font-size: 20px;
font-weight: 300;
padding: 20px;
font-family: 'Brygada 1918', serif;


}
.card-one:hover{
	background:  rgba(13, 245, 168, 0.178)	;
}




.button-icon{

border: 1px black solid;
border-radius: 13px;
background: rgba(209, 230, 20, 0.856);

}
.cont-qr{
	background: rgba(17, 15, 15, 0.459);
	background-image: url('./images/image_qrr.jpg');
	height: 220px;
	
	z-index: 9;
}
.image-qr{
display: flex;
float: right;
	margin-top: 20px;
	margin-right: 20px;
	
	z-index: 99;
	height:180px;
	width: 175px;
	background: white;
	position:relative;
	object-fit: cover;
}
.text-qr{
	display: inline-flex;
		margin-top: 85px;
	font-size: 26px;
	font-weight: 800;
	color:rgb(7, 190, 223) ;
		}
	.text-qr:hover{
color: rgba(0, 255, 179, 0.466);

	}
.card-model{
	background: rgba(161, 184, 201, 0.267);
	margin: 5px;
}
.image-testimonios{
	background-image: url('./images/image_conf.jpg');

height:100vh;
margin-bottom: 35px;

z-index: 9;
opacity: 0.9;
}

.text-testimonio{
width: 400px;
height: 410px;
color: white;
font-weight: 400;
z-index: 99;
padding: 20px 40px;
backface-visibility: 20px;
background: rgba(20, 20, 20, 0.815);
font-size: 20px;
}
.title-testimonio{
	
color: rgb(18, 150, 150);
font-weight: 800;
letter-spacing: 10px;
font-size: 30px;

}
.icon-color{
	background: rgb(98, 231, 231);
	width: 35px;
	height: 40px;

}
.icon-footer{
	
}